[submodule "dependencies/uFragments"]
	path = dependencies/uFragments
	url = https://github.com/ampleforth/uFragments
[submodule "dependencies/market-oracle"]
	path = dependencies/market-oracle
	url = https://github.com/ampleforth/market-oracle
[submodule "dependencies/token-geyser"]
	path = dependencies/token-geyser
	url = https://github.com/ampleforth/token-geyser
[submodule "dependencies/uniswap-v2-periphery"]
	path = dependencies/uniswap-v2-periphery
	url = https://github.com/Uniswap/uniswap-v2-periphery
[submodule "dependencies/uniswap-v2-core"]
	path = dependencies/uniswap-v2-core
	url = https://github.com/Uniswap/uniswap-v2-core
[submodule "dependencies/rebase-oracles"]
	path = dependencies/rebase-oracles
	url = https://github.com/Rebase-Finance/rebase-oracles
